@model QuickMenu.ViewModels.OrdersLoading
@{
    Layout = null;
    if (Session["email"] == null)
    {
        Response.Redirect("~/Template/Index");
    }
    ViewBag.rname = Session["rname"];
    QuickMenu.Models.product p = new QuickMenu.Models.product();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/Design/ModuloGestion/css/main.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="shortcut icon" href="~/Design/ModuloGestion/img/store-ico.ico" />
    <title>CPanel | @Session["rname"]</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <div class="container">
                    <img src="~/Design/ModuloGestion/img/store.png" />
                </div>
            </div>
            <div class="perfil">
                <div class="contenedor-prof">
                    <p>@Session["name"]-@Session["position"]</p>
                    <img src="~/Design/ModuloGestion/img/user.png" />
                </div>
            </div>
        </nav>
    </header>    
    <div class="SectionAdd">
        <div class="Ventana">
            <!-- ventana de ajuste -->
            <div id="EditWindow" class="VentanaAdd">
                
            </div>
        </div>
    </div>
    <section class="contenedor-padre">
        <div class="izq">
            <div class="txtContenedor">
                <h2>Modules</h2>
                @if ((string)Session["position"] == "Gerente")
    {
            @Html.ActionLink("Products", "GetProducts", "Management")
            @Html.ActionLink("Employees", "GetEmployees", "Management")
            @Html.ActionLink("Editor", "Edit", "Editor")
}
                @Html.ActionLink("Orders", "GetOrders")

                <h2>Account</h2>
                <a href="@Url.Action("LogOut", "Order", new { id = ViewBag.rname})">Logout</a>
            </div>
        </div>
        <div class="derecha">
            <div id="cards" class="contenedor">
                @foreach (var x in Model.orders)
                {
                    <div class="caja">
                        <div class="caja-1">
                            <img src="~/Design/ModuloGestion/img/order.png" />
                        </div>
                        <div class="caja-2">
                            <div class="info">
                                @using (Ajax.BeginForm("DetOrd", new AjaxOptions { UpdateTargetId = "EditWindow", InsertionMode = InsertionMode.Replace }))
                                {
                            @Html.HiddenFor(m => m.orders.First().idorder, new { Value = x.idorder })
                            @Html.HiddenFor(m => m.orders.First().table, new { Value = x.table })
                            @Html.HiddenFor(m => m.orders.First().date, new { Value = x.date })
                            @Html.HiddenFor(m => m.orders.First().paymentmethod, new { Value = x.paymentmethod })
                            @Html.HiddenFor(m => m.orders.First().totalprice, new { Value = x.totalprice })
                            @Html.HiddenFor(m => m.orders.First().status, new { Value = x.status })
                            <h3 class="titulo">Order #@x.idorder</h3>
                            <p>@x.status</p>
                            <button class="edit" type="submit" name="action:DetOrd">View Details</button>
                                }
                                @using (Ajax.BeginForm("EditOrd", new AjaxOptions { UpdateTargetId = "EditWindow", InsertionMode = InsertionMode.Replace }))
                                {
                            @Html.HiddenFor(m => m.orders.First().idorder, new { Value = x.idorder })
                            @Html.HiddenFor(m => m.orders.First().table, new { Value = x.table })
                            @Html.HiddenFor(m => m.orders.First().date, new { Value = x.date })
                            @Html.HiddenFor(m => m.orders.First().paymentmethod, new { Value = x.paymentmethod })
                            @Html.HiddenFor(m => m.orders.First().totalprice, new { Value = x.totalprice })
                            @Html.HiddenFor(m => m.orders.First().status, new { Value = x.status })                            
<button class="edit" type="submit" name="action:EditOrd">Edit</button>
                                }
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
    <script src="~/Scripts/jquery-1.8.0.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Design/ModuloGestion/AddWindow.js"></script>
    <script src="~/Design/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Design/Scripts/jquery.validate.min.js"></script>
    <script src="~/Design/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>
